/* Header */
header{
    display: flex;
    justify-content: center;
    background-color: #2a2a2a;
    height: 700px;
}

.home-header {
    position: relative;
    width: calc(0.9*1519px);
    min-height: 700px;
}

.main-content {
    position: absolute;
    top: 25%;
    left: 8%;
    z-index: 1;
    color: #fff;
}

.main-content h1 {
    font-size: 4.5em;
    margin: 0;
    letter-spacing: 0;
}

.main-content P:first-of-type {
    font-size: 1.9em;
    margin: 0;
    font-weight: 100;
    color: rgb(227, 227, 227);
}

.main-content p:last-of-type {
    color: rgb(207, 207, 207);
}

.button {
    margin: 50px 0;
    border: 1px solid #2a2a2a;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    width: calc(0.96*200px);
    height: calc(0.88*60px);
    margin: 55px 0 52px 3px;
}

.btn-link {
    width: calc(0.96*200px);
    height: calc(0.88*60px);
    line-height: calc(0.88*60px);
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
}

.btn-link:hover {
    background-color: #3d3d3d;
}

.main-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.second-image {
    position: absolute;
    top: 0;
    right: 0;
}

.main-image img {
    width: 683px;
    height: 700px;
    opacity: 0.5;
}

.second-image img {
    width: 684px;
    height: 700px;
    opacity: 0.5;
}

/* Additional Header Stylign */

.additional-styling{
    display: flex;
    width: calc(0.9*1519px);
    margin: 0 auto;
    background-color: #2a2a2a;
}

.additional-styling img:first-of-type {
    width: 683px;
    height: 115px;
    opacity: 0.5;
}

.additional-styling img:last-of-type {
    width: 684px;
    height: 115px;
    opacity: 0.5;
}

/* About Us Cards */

.about-us {
    margin-bottom: 100px;
}

.card-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    text-align: center;
    position: relative;
    top: -150px;
}

.card {
    padding: 40px 30px 60px 30px;
    width: calc(100%/3);
    height: 250px;
    background-color: #fff;
    border: 1px solid rgb(228, 228, 228);
}

.card:hover {
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #2a2a2a;
}

.card i {
    font-size: 3rem;
    margin: 15px;
}

.card h4 {
    font-size: 1.5em;
    font-weight: 600;
}

.card p {
    font-size: 0.95em;
    font-weight: 100;
    color: #989898;
    line-height: 2em;
    width: 80%;
    margin: 0 auto;
}

.about-main {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 80px;
}

.images{
    position: relative;
    width: 619px;
}

.images img:first-child {
    width: 471.96px;
    height: 438.69px;
    position: relative;
    z-index: 0;
}

.images img:last-child {
    position: absolute;
    bottom: 0;
    right: 60px;
    z-index: 1;
}

.text {
    width: 450px;
}

.text h2 {
    font-weight: 500;
    color: rgb(133, 133, 133);
}

.text h3 {
    font-size: 2em;
    font-weight: 900;
}

.text p:first-of-type {
    font-size: 1.3em;
    color: rgb(133, 133, 133);
}

.text p:last-of-type {
    font-size: 1.05em;
    color: rgb(133, 133, 133);
}

/* project Listing Images */
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.project-container h2 {
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 2em;
}

.project-listing {
    width: 90%;
    margin-left: 40px;
    padding: 0;
}

.project-listing div {
    display: inline-block;
}

.project-corner,
.project {
    background-color: #000;
    position: relative;
}

.project-corner,
.project-corner img,
.project-corner div {
    width: 661.3px;
    height: 293px;
}

.project,
.project img,
.project div {
    width: 330.65px;
    height: 293.23px;
}

.project-corner div,
.project div {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.project-corner img:hover,
.project img:hover {
    opacity: 0.4;
}

.project-corner div:hover,
.project div:hover {
    display: block;
}

/* Team Listing */
.team-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    gap: 40px;
}

.team-cards {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.team-card {
    width: 362px;
    border: 1px solid rgb(240, 240, 240);
}

.team-card img {
    width: 362px;;
    height: 234px;
}

.member-text {
    padding: 10px 20px;
}

.member-text h3{
    margin: 5px;
    font-weight: 900;
}

.member-text h4 {
    margin: 5px;
    color: gray;
    font-weight: 300;
    font-size: 1.05em;
}

.member-text p {
    margin: 15px 0;
    padding: 10px;
    color: rgb(169, 169, 169);
}

.team-text {
    width: 30%;
    position: relative;
    align-self: flex-start;
}

.team-text .text{
    width: 100%;
    text-align: right;
}

.team-text .button {
    position: absolute;
    bottom: -130px;
    right: 0;
}

/* Contact Container */
.contact-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: #2a2a2a;
    margin: 0 auto;
    padding: 50px 0;
}

.contact-text {
    align-self: center;
    margin-left: 10px;
}

.contact-text h2 {
    color: rgb(138, 138, 138);
    margin: 0;
    font-weight: 500;
    font-size: 1.3em;
}

.contact-text h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 900;
    margin: 10px 0;
}

.contact-container .button {
    border-color: #fff;
    margin-right: 10px;
}

.contact-container .btn-link {
    background-color: #fff;
    color: #2a2a2a;
}

