/* Header */
header{
    display: flex;
    justify-content: center;
    background-color: #2a2a2a;
    height: 700px;
}

.header-container {
    position: relative;
    width: calc(0.9*1519px);
    min-height: 700px;
}

.main-content {
    position: absolute;
    top: 12%;
    left: 8%;
    z-index: 1;
    color: #fff;
}

.main-content h1 {
    font-size: 4.5em;
    margin: 0;
    letter-spacing: 0;
}

.main-content P:first-of-type {
    font-size: 1.9em;
    margin: 0;
    font-weight: 100;
    color: rgb(227, 227, 227);
}

.main-content p:last-of-type {
    color: rgb(207, 207, 207);
}

.button {
    margin: 50px 0;
    border: 2px solid #2a2a2a;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    width: calc(0.96*200px);
    height: calc(0.88*60px);
    margin: 55px 0 52px 3px;
}

.btn-link {
    width: calc(0.96*200px);
    height: calc(0.88*60px);
    line-height: calc(0.88*60px);
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
}

.btn-link:hover {
    background-color: #3d3d3d;
}

.main-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.second-image {
    position: absolute;
    top: 0;
    right: 0;
}

.main-image img {
    width: 683px;
    height: 700px;
    opacity: 0.5;
}

.second-image img {
    width: 684px;
    height: 700px;
    opacity: 0.5;
}

/* Additional Header Stylign */

.additional-styling{
    display: flex;
    width: calc(0.9*1519px);
    margin: 0 auto;
    background-color: #2a2a2a;
}

.additional-styling img:first-of-type {
    width: 683px;
    height: 115px;
    opacity: 0.5;
}

.additional-styling img:last-of-type {
    width: 684px;
    height: 115px;
    opacity: 0.5;
}

/* About Us Cards */

.about-us {
    margin-bottom: 150px;
}

.card-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    text-align: center;
    position: relative;
    top: -150px;
}

.card-container .card {
    padding: 60px 30px;
    width: calc(100%/3);
    height: 250px;
    background-color: #fff;
    border: 1px solid rgb(228, 228, 228);
}

.card-container .card i {
    font-size: 3rem;
    margin: 20px;
}

.card-container .card h4 {
    font-size: 1.5em;
    font-weight: 600;
}

.card-container .card p {
    font-size: 1.1em;
    font-weight: 100;
    color: #838383;
}

.about-main {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 80px;
}

.about-main .images{
    position: relative;
    width: 619px;
}

.about-main .images img:first-child {
    width: 471.96px;
    height: 438.69px;
    position: relative;
    z-index: 0;
}

.about-main .images img:last-child {
    position: absolute;
    bottom: 0;
    right: 60px;
    z-index: 1;
}

.about-main .text {
    width: 450px;
}

.text h2 {
    font-weight: 500;
    color: rgb(133, 133, 133);
}

.text h3 {
    font-size: 2em;
    font-weight: 900;
}

.text p:first-of-type {
    font-size: 1.3em;
    color: rgb(133, 133, 133);
}

.text p:last-of-type {
    font-size: 1.05em;
    color: rgb(133, 133, 133);
}


/* Product Listing Images */
.product-container {
    display: flex;
    justify-content: center;
    margin: 150px 0;
}
.product-container .product-listing {
    width: 90%;
    margin-left: 40px;
    padding: 0;
}

.product-listing img:first-of-type {
    width: 661.3px;
    height: 293px;
}

.product-listing img:nth-of-type(2),
.product-listing img:nth-of-type(3),
.product-listing img:nth-of-type(4),
.product-listing img:nth-of-type(5) {
    width: 330.65px;
    height: 293.23px;
}

.product-listing img:last-of-type {
    width: 661.3px;
    height: 293.61px;
}


