/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #2a2a2a;
    padding: 0 12px;
}

nav ul {
    display: flex;
}

.nav-links {
    width: 580px;
    justify-content: space-around;
    align-items: center;
}

.nav-links a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
}

.nav-links a:not(.search):hover {
    border-bottom: 3.5px solid #fff;
    padding-bottom: 5px;
}

.social-links {
    width: 120px;
    justify-content: space-around;
}

.social-links li {
    box-sizing: border-box;
    width: 33px;
    height: 33px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links li:nth-child(1):hover {
    background-color: #3b5a9a;
}

.social-links li:nth-child(2):hover {
    background-color: #1aa9e1;
}

.social-links li:nth-child(3):hover {
    background-color: #0073b2;
}

.social-links a {
    color: white;
}

/* Footer */
footer {
    background-color: #2a2a2a;
    color: #fff;
}

.container {
    display: flex;
    width: 100%;
    padding: 80px 50px;
}

.container .col {
    width: calc(100%/6.3);
}

.container h4 {
    font-size: 1.2rem;
}

.container li, .container a {
    color: #999;
    font-size: .85rem;
    margin: 5px 0;
}

.container .tel a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 900;
}

.container .col:last-child ul{
    display: flex;
}

.container .col:last-child ul li a {
    margin: 0 10px;
    color: #fff;
}

footer hr {
    width: 92%;
    margin-left: 50px;
    border-color: #9b9b9b4d;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0;
}

.copyright p {
    color: #999;
    font-size: 0.8rem;
}